albucore==0.0.24
albumentations==2.0.8
annotated-types==0.7.0
anyio==3.7.1
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
blinker==1.9.0
brotli
cachetools==5.5.2
certifi
cffi
charset-normalizer
click==8.2.1
colorama
coloredlogs==15.0.1
comm
contourpy==1.3.2
cycler==0.12.1
Cython==3.1.2
debugpy
decorator
defusedxml
dnspython==2.7.0
easydict==1.13
executing
faiss-cpu==1.11.0
fastjsonschema
filelock==3.18.0
Flask==3.1.1
flatbuffers==25.2.10
fonttools==4.58.4
fsspec==2025.5.1
googleapis-common-protos==1.70.0
grpcio==1.73.0
grpcio-status==1.73.0
h11
hdbscan==0.8.40
httpcore
httpx
huggingface-hub==0.33.0
humanfriendly==10.0
idna
imageio==2.37.0
insightface==0.7.3
ipykernel
ipython
ipython-pygments-lexers
itsdangerous==2.2.0
jedi
Jinja2
joblib==1.5.1
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter-client
jupyter-core
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver==1.4.8
lazy-loader==0.4
llvmlite==0.44.0
MarkupSafe
matplotlib-inline
mistune
mpmath==1.3.0
nbclient
nbconvert
nbformat
nest-asyncio
networkx==3.5
notebook
notebook-shim
numba==0.61.2
numpy==2.2.6
onnx==1.18.0
onnxruntime==1.22.0
opencv-python-headless==4.11.0.86
overrides
packaging
pandocfilters
parso
pillow==11.2.1
platformdirs
pooch==1.8.2
prettytable==3.16.0
prometheus-client
prompt-toolkit
proto-plus==1.26.1
protobuf==6.31.1
psutil
pure-eval
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser
pydantic==1.10.7
pydantic_core==2.33.2
Pygments
PyMatting==1.1.14
pymongo==4.13.1
pyparsing==3.2.3
pyreadline3==3.5.4
PySocks
python-dateutil
python-json-logger
pywinpty
PyYAML
pyzmq
referencing
regex==2024.11.6
rembg==2.0.66
requests
rfc3339-validator
rfc3986-validator
rpds-py
rsa==4.9.1
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.15.3
Send2Trash
setuptools==75.8.0
simsimd==6.4.9
six
sniffio
soupsieve
stack-data
stringzilla==3.12.5
sympy==1.14.0
terminado
threadpoolctl==3.6.0
tifffile==2025.6.11
tinycss2
tokenizers==0.13.3
torch==2.7.1
torchvision==0.22.1
tornado
tqdm==4.67.1
traitlets
transformers==4.29.2
typing-inspection==0.4.1
typing-extensions
urllib3
wcwidth
webencodings
websocket-client
Werkzeug==3.1.3
wheel==0.45.1
win-inet-pton
gunicorn 
